<form action="" id="checkin" class="checkin" method ="post">
  <label class="label" for="firstname">Prénom: <input class="input" required type="text" name="firstname" id="firstname" placeholder="Prénom"> </label>
  <label class="label" for="lastname">Nom: <input class="input" required type="text" name="lastname" id="lastname" placeholder="Nom"> </label>
  <!--mail input-->  
  <div class="field">
    <label class="label" for="email">Mail: 
    <div class="control has-icons-left">
    <input class="input" required type="email" name="email" id="email" placeholder="Email"> 
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    </div>
    </label>
  </div>

  <label for ="typeOfVisit" class="label">Type de visite:</label>
  <fieldset class="box fieldset" id="typeFieldset">
    <select name="typeOfVisit" id="typeOfVisit" placeholder="Type de visite" class="select">
      <option value="staff" selected>Visite</option>
      <option value="formations">Formation</option>
    </select>
    <select name="choiceOfVisit" id="choiceOfVisit" placeholder="Choix de la visite" class="select">
    </select>
  </fieldset>
  <input type="submit" value="Check In" class="submit button is-success">
  <input type="reset" value="Reset" class="reset button is-warning">
  <script>
  </script>
</form>