<form action="" class="checkin" method ="post">
  <label for="firstname"><input type="text" name="firstname" id="firstname" placeholder="Prénom"> </label>
  <label for="lastname"><input type="text" name="lastname" id="lastname" placeholder="Nom"> </label>
  <label for="email"><input type="email" name="email" id="email" placeholder="Email"> </label>
  <select name="typeOfVisit" id="typeOfVisit">
    <option value="visite"></option>
    <option value="formation"></option>
  </select>
  <input type="submit" value="Check In">
</form>